{% extends 'base.html' %}

{% block content %}

{% load static %}

<main>
    <div>
        <h1>My Projects</h1>
        <h2>
            <a href="{% url 'create_project' %}"> Create Project </a>
        </h2>
        <h3>Tasks</h3>
        {% if projects|length == 0 %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            {% for project in projects %}
            <thead>
                <tr>
                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                    <th>Tasks: {{ project.tasks.all|length }}</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                    </td>
                    <td></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
